In [7]:
import pandas as pd
file1 = pd.read_csv("2017-TableI-2.csv")
file1.head(50)

,InstrLevel,AfAmF,AfAmM,AIANF,AIANM,AsianF,AsianM,HispF,HispM,NHOPIF,...,NRAF,NRAM,UnkF,UnkM,AllF,AllM,GenderNoneTotal,AllTotal,SortNum,Unnamed: 24
0,Public Universities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Chicago State University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Undergraduate,795,304,5.0,2.0,5,0,68,39,0.0,...,26,22,103,53,"1,034",453,0.0,"1,487",1.0,NaN
3,Graduate,306,131,1.0,2.0,50,42,29,17,0.0,...,25,47,15,10,494,298,0.0,792,2.0,NaN
4,Undeclared/Non-degree Seeking,14,6,0.0,0.0,0,1,1,1,0.0,...,0,0,0,1,18,10,0.0,28,3.0,NaN
5,Total,"1,115",441,6.0,4.0,55,43,98,57,0.0,...,51,69,118,64,"1,546",761,0.0,"2,307",4.0,NaN
6,Eastern Illinois University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Undergraduate,485,393,11.0,4.0,38,21,197,145,0.0,...,56,58,53,44,"2,715","1,876",0.0,"4,591",1.0,NaN
8,Graduate,62,25,1.0,0.0,13,6,23,13,0.0,...,114,138,2,5,823,465,0.0,"1,288",2.0,NaN
9,Undeclared/Non-degree Seeking,103,49,1.0,2.0,24,15,117,96,0.0,...,5,10,34,21,710,441,0.0,"1,151",3.0,NaN
10,Total,650,467,13.0,6.0,75,42,337,254,0.0,...,175,206,89,70,"4,248","2,782",0.0,"7,030",4.0,NaN
11,Governors State University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Undergraduate,929,399,3.0,1.0,32,29,292,156,1.0,...,7,9,182,110,"2,094","1,195",0.0,"3,289",1.0,NaN
13,Graduate,494,116,1.0,0.0,27,14,112,49,0.0,...,38,115,70,33,"1,227",483,1.0,"1,711",2.0,NaN
14,Undeclared/Non-degree Seeking,53,15,0.0,0.0,5,2,7,7,0.0,...,0,1,15,7,132,52,0.0,184,3.0,NaN
15,Total,"1,476",530,4.0,1.0,64,45,411,212,1.0,...,45,125,267,150,"3,453","1,730",1.0,"5,184",4.0,NaN
16,Illinois State University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Undergraduate,934,637,18.0,12.0,216,169,"1,050",848,10.0,...,41,43,25,25,"10,077","8,171",16.0,"18,264",1.0,NaN
18,Graduate,84,39,0.0,2.0,25,9,81,40,0.0,...,144,129,8,7,"1,514",773,2.0,"2,289",2.0,NaN
19,Undeclared/Non-degree Seeking,7,4,0.0,0.0,7,7,6,3,0.0,...,14,18,1,1,123,108,0.0,231,3.0,NaN
20,Total,"1,025",680,18.0,14.0,248,185,"1,137",891,10.0,...,199,190,34,33,"11,714","9,052",18.0,"20,784",4.0,NaN
21,Northeastern Illinois University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Undergraduate,519,343,7.0,7.0,294,319,"1,548","1,096",9.0,...,1,0,522,376,"3,913","3,101",0.0,"7,014",1.0,NaN
23,Graduate,83,45,2.0,1.0,41,36,177,75,2.0,...,3,4,117,72,849,481,0.0,"1,330",2.0,NaN
24,Undeclared/Non-degree Seeking,18,20,2.0,1.0,33,16,65,42,0.0,...,0,0,68,51,381,259,0.0,640,3.0,NaN
25,Total,620,408,11.0,9.0,368,371,"1,790","1,213",11.0,...,4,4,707,499,"5,143","3,841",0.0,"8,984",4.0,NaN
26,Northern Illinois University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Undergraduate,974,718,8.0,8.0,282,361,"1,041","1,078",5.0,...,77,166,16,24,"5,886","6,011",0.0,"11,897",1.0,NaN
28,Graduate,155,113,1.0,2.0,129,164,164,135,1.0,...,263,392,16,15,"2,165","1,971",0.0,"4,136",2.0,NaN
29,Undeclared/Non-degree Seeking,285,175,1.0,1.0,39,54,173,163,1.0,...,13,11,4,5,"1,116",893,0.0,"2,009",3.0,NaN
30,Total,"1,414","1,006",10.0,11.0,450,579,"1,378","1,376",7.0,...,353,569,36,44,"9,167","8,875",0.0,"18,042",4.0,NaN
31,Southern Illinois University Carbondale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Undergraduate,997,772,12.0,19.0,81,106,437,527,0.0,...,138,291,6,5,"5,044","5,829",23.0,"10,896",1.0,NaN
33,Graduate,241,124,4.0,4.0,73,55,65,90,1.0,...,309,478,2,3,"1,736","1,784",0.0,"3,520",2.0,NaN
34,Undeclared/Non-degree Seeking,33,12,0.0,0.0,2,1,7,3,0.0,...,25,15,0,2,89,49,0.0,138,3.0,NaN
35,Total,"1,271",908,16.0,23.0,156,162,509,620,1.0,...,472,784,8,10,"6,869","7,662",23.0,"14,554",4.0,NaN
36,Southern Illinois University Edwardsville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Undergraduate,997,566,15.0,18.0,104,125,277,242,8.0,...,37,78,59,70,"6,005","5,334",0.0,"11,339",1.0,NaN
38,Graduate,152,60,0.0,1.0,41,27,39,31,1.0,...,93,132,47,52,"1,409",923,0.0,"2,332",2.0,NaN
39,Undeclared/Non-degree Seeking,5,4,0.0,0.0,0,2,1,3,0.0,...,13,12,3,5,67,58,0.0,125,3.0,NaN
40,Total,"1,154",630,15.0,19.0,145,154,317,276,9.0,...,143,222,109,127,"7,481","6,315",0.0,"13,796",4.0,NaN
41,U of I at Chicago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Undergraduate,942,583,5.0,6.0,"1,957","2,199","3,420","2,895",7.0,...,259,403,40,63,"9,724","9,382",0.0,"19,106",1.0,NaN
43,Graduate,559,251,12.0,4.0,856,631,671,411,6.0,...,"1,088","1,468",50,45,"6,009","4,564",0.0,"10,573",2.0,NaN
44,Undeclared/Non-degree Seeking,51,19,0.0,0.0,28,25,60,29,0.0,...,82,217,12,42,423,437,0.0,860,3.0,NaN
45,Total,"1,552",853,17.0,10.0,"2,841","2,855","4,151","3,335",13.0,...,"1,429","2,088",102,150,"16,156","14,383",0.0,"30,539",4.0,NaN
46,U of I at Springfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Undergraduate,234,154,4.0,4.0,40,46,136,120,2.0,...,52,63,11,22,"1,394","1,439",0.0,"2,833",1.0,NaN
48,Graduate,111,70,1.0,1.0,38,47,34,30,0.0,...,199,317,8,17,892,980,0.0,"1,872",2.0,NaN
49,Undeclared/Non-degree Seeking,9,4,0.0,0.0,6,3,5,5,0.0,...,12,6,3,5,143,108,0.0,251,3.0,NaN

In [4]:
file1.loc['Totla Enrollment', 'AllTotal']

KeyError: 'the label [Totla Enrollment] is not in the [index]'

In [9]:
file1.loc[file1[file1['InstrLevel'].str.contains("Total Enrollment")]:3]

TypeError: '                                            InstrLevel AfAmF AfAmM  AIANF  \
61             Total Enrollment at Public Universities   NaN   NaN    NaN
307             Total Enrollment at Community Colleges   NaN   NaN    NaN
738   Total Enrollment at Independent NFP Institutions   NaN   NaN    NaN
834   Total Enrollment at Independent For-Profit In...   NaN   NaN    NaN
935      Total Enrollment at Out-of-State Institutions   NaN   NaN    NaN
940              Total Enrollment All Sectors Combined   NaN   NaN    NaN

     AIANM AsianF AsianM HispF HispM  NHOPIF     ...      NRAF NRAM UnkF UnkM  \
61     NaN    NaN    NaN   NaN   NaN     NaN     ...       NaN  NaN  NaN  NaN
307    NaN    NaN    NaN   NaN   NaN     NaN     ...       NaN  NaN  NaN  NaN
738    NaN    NaN    NaN   NaN   NaN     NaN     ...       NaN  NaN  NaN  NaN
834    NaN    NaN    NaN   NaN   NaN     NaN     ...       NaN  NaN  NaN  NaN
935    NaN    NaN    NaN   NaN   NaN     NaN     ...       NaN  NaN  NaN  NaN
940    NaN    NaN    NaN   NaN   NaN     NaN     ...       NaN  NaN  NaN  NaN

    AllF AllM GenderNoneTotal AllTotal SortNum Unnamed: 24
61   NaN  NaN             NaN      NaN     NaN         NaN
307  NaN  NaN             NaN      NaN     NaN         NaN
738  NaN  NaN             NaN      NaN     NaN         NaN
834  NaN  NaN             NaN      NaN     NaN         NaN
935  NaN  NaN             NaN      NaN     NaN         NaN
940  NaN  NaN             NaN      NaN     NaN         NaN

[6 rows x 25 columns]' is an invalid key